@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
body {
  background-color: white;
  font-weight: bolder;
  overflow: hidden;
  object-fit: cover;
}
.vcenter{
	margin-top: 5em;
	vertical-align:middle;
	color: rgb(13, 110, 253);
}
.gradient-bg {
  font-size: 72px;
  background: -webkit-linear-gradient(#e905bb, #740606);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-bg2 {
  font-weight: bolder;
  font-size: 35px;
  background: -webkit-linear-gradient(#e8e7e6ee, #37d4d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
